# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
.logs/
.target-ide/
.target-mvn/
.deploy/
.target/

# Project specific
RemoteSystemsTempFiles/
ProfileProject/
.metadata/
*/_dist/*
*/_distJars/*
*/bin/*
*.log*
Servers/