<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="Connection" class="com.codecavaliers.lendalot.rest.Connection">
		<property name="hostName" value="localhost" />
		<property name="port" value="27017" />
		<property name="dbName" value="lendalot" />
	</bean>
	<bean id="MongoDB" class="com.codecavaliers.lendalot.rest.MongoDB">
		<constructor-arg>
			<bean class="com.codecavaliers.lendalot.rest.Connection" />
		</constructor-arg>
	</bean>
</beans>